@tailwind base;
@tailwind components;
@tailwind utilities;
/* body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 80px;
  background: #5f4848;
  justify-content: space-between;
  color: hwb(0 80% 19%);
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 20px;
}

.links {
  display: flex;
  align-items: center;
}
.links > li {
  list-style: none;
  padding: 10px;
}
.links :hover {
  cursor: pointer;
  border: 2px solid rgb(244, 160, 160);
  border: none;
}

.footer {
  height: 70px;
  background-color: #5f4848;
  color: #f4f4fa;
  position: relative;
  padding: 5px;
  text-align: center;
}

.main {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}

.card {
  border-radius: 5px;
  padding: 5px;
  height: 350px;
  width: 200px;
  color: rgb(73, 4, 4);
  background-color: rgb(224, 213, 213);
  margin: 10px;
  border-radius: 5px;
}
.card:hover {
  position: relative;
  top: -10px;
  transition: 1s;
}
.img_card {
  width: 200px;
  height: 150px;
  border-radius: 5px;
  overflow: auto;
}
.card p {
  font-size: small;
}
.card-text {
  font-style: oblique;
  padding: 5px;
}
.links > button {
  width: 100px;
  border-radius: 4px;
}
.filter > button {
  width: 100px;
  border-radius: 4px;
}
input {
  margin: 10px;
  padding: 0 5px;
  width: 200px;
  height: 35px;
}

button {
  border-radius: 4px;
  width: 200px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
  background-color: rgb(121, 101, 141);
  border: none;
}

button:hover {
  background-color: black;
  color: aliceblue;
}

.about {
  padding: 50px;

  margin: 10px 200px;
  border: solid rgb(213, 176, 176);
  width: 400px;
  border-radius: 30px;
}

.about_img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.restaurant_menu {
  padding: 20px;
  margin: 20px;
  border: #5f4848 solid;
  border-radius: 20px;
}

.main_dummy {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}

.card_dummy {
  border-radius: 5px;
  padding: 5px;
  height: 350px;
  width: 1200px;
  color: rgb(244, 159, 159);
  background-color: rgb(250, 244, 244);
  margin: 20px;
  border-radius: 30px;
} */
